<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzc.netty.mapper.MessageMapper">

        <resultMap id="BaseResultMap" type="com.wzc.netty.pojo.entity.Message">
                <id property="id" column="id" jdbcType="BIGINT"/>
                <result property="messageId" column="message_id" jdbcType="VARCHAR"/>
                <result property="userFromId" column="user_from_id" jdbcType="VARCHAR"/>
                <result property="userToId" column="user_to_id" jdbcType="VARCHAR"/>
                <result property="messageType" column="message_type" jdbcType="INTEGER"/>
                <result property="sendMessageType" column="send_message_type" jdbcType="INTEGER"/>
                <result property="groupId" column="group_id" jdbcType="VARCHAR"/>
                <result property="sendMessageContent" column="send_message_content" jdbcType="VARCHAR"/>
                <result property="messageStatus" column="message_status" jdbcType="INTEGER"/>
                <result property="sendTime" column="send_time" jdbcType="TIMESTAMP"/>
                <result property="receiveTime" column="receive_time" jdbcType="TIMESTAMP"/>
                <result property="sendMessageInitAck" column="send_message_init_ack" jdbcType="BIGINT"/>
                <result property="sendMessageAck" column="send_message_ack" jdbcType="BIGINT"/>
                <result property="receiveMessageInitAck" column="receive_message_init_ack" jdbcType="BIGINT"/>
                <result property="receiveMessageAck" column="receive_message_ack" jdbcType="BIGINT"/>
                <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
                <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
                <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
        </resultMap>

    <update id="updateMessageStatus">
        update message
        set message_status = #{messageStatus}
        where message_id = #{messageId}
          and del_flag = 0
    </update>

    <update id="updateReceiveMessageAck" parameterType="java.lang.String">
        update message
        set receive_message_ack = #{receiveMessageAck}
        where message_id = #{messageId}
          and del_flag = 0
    </update>

    <update id="updateSendMessageAck" parameterType="java.lang.String">
        update message
        set send_message_ack = #{sendMessageAck}
        where message_id = #{messageId}
          and del_flag = 0
    </update>

    <select id="queryPrivateMessage" resultType="com.wzc.netty.pojo.entity.Message">
        select id AS id,
               message_id AS messageId,
               user_from_id AS userFromId,
               user_to_id AS userToId,
               message_type AS messageType,
               send_message_type AS sendMessageType,
               group_id AS groupId,
               send_message_content AS sendMessageContent,
               message_status AS messageStatus,
               send_time AS sendTime,
               receive_time AS receiveTime
        from message
        where message_id = #{messageId}
          and user_from_id = #{userFromId}
          and user_to_id = #{userToId}
          and del_flag = 0
    </select>

    <select id="queryGroupMessage" resultType="com.wzc.netty.pojo.entity.Message">
        select id AS id,
               message_id AS messageId,
               user_from_id AS userFromId,
               user_to_id AS userToId,
               message_type AS messageType,
               send_message_type AS sendMessageType,
               group_id AS groupId,
               send_message_content AS sendMessageContent,
               message_status AS messageStatus,
               send_time AS sendTime,
               receive_time AS receiveTime
        from message
        where message_id = #{messageId}
          and user_from_id = #{userFromId}
          and group_id = #{groupId}
          and del_flag = 0
    </select>

    <select id="queryAckMessage" resultType="com.wzc.netty.pojo.entity.Message">
        select  id AS id,
                message_id AS messageId,
                user_from_id AS userFromId,
                user_to_id AS userToId,
                message_type AS messageType,
                send_message_type AS sendMessageType,
                group_id AS groupId,
                send_message_content AS sendMessageContent,
                message_status AS messageStatus,
                send_message_init_ack AS sendMessageInitAck,
                send_message_ack AS sendMessageAck,
                receive_message_init_ack AS receiveMessageInitAck,
                receive_message_ack AS receiveMessageAck,
                send_time AS sendTime,
                receive_time AS receiveTime
        from message
        where message_id = #{messageId} and del_flag = 0
    </select>

</mapper>
